Repository BearWare/TeamTalk5, pull requests merged in 2021-11, with the labels that each got.

#1079 Build Qt TeamTalk for macOS using CMake
  Client/qtTeamTalk/CMakeLists.txt
  Client/qtTeamTalk/images/teamtalk.icns
Labels: qtTeamTalk, macOS

#1118 Text-to-speech event when remote user is typing in private chat
  ChangeLog.txt
  Client/qtTeamTalk/common.h
  Client/qtTeamTalk/preferences.ui
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/settings.h
  Client/qtTeamTalk/textmessagedlg.cpp
  Client/qtTeamTalk/ttseventsmodel.cpp
Labels: qtTeamTalk

#1134 Number of characters as accessible hint for public and private chat
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/textmessagedlg.cpp
Labels: qtTeamTalk

#1140 Microphone selection for iOS
  Client/iTeamTalk/iTeamTalk.xcodeproj/project.pbxproj
  Client/iTeamTalk/iTeamTalk/Base.lproj/Main.storyboard
  Client/iTeamTalk/iTeamTalk/Common.swift
  Client/iTeamTalk/iTeamTalk/PreferencesViewController.swift
  Client/iTeamTalk/iTeamTalk/SoundInputsViewController.swift
  Client/iTeamTalk/iTeamTalkTests/iTeamTalkTests.swift
Labels: iOS, iTeamTalk

#1135 Android - Accessible hint for gender
  ChangeLog.txt
  Client/TeamTalkAndroid/src/main/java/dk/bearware/gui/MainActivity.java
Labels: TeamTalkAndroid
