Repository BearWare/TeamTalk5, pull requests merged in 2022-06, with the labels that each got.

#1345 CheckState on models
  Client/qtTeamTalk/serverlogeventsmodel.cpp
  Client/qtTeamTalk/serverlogeventsmodel.h
  Client/qtTeamTalk/statusbareventsmodel.cpp
  Client/qtTeamTalk/statusbareventsmodel.h
  Client/qtTeamTalk/ttseventsmodel.cpp
  Client/qtTeamTalk/ttseventsmodel.h
Labels: enhancement, qtTeamTalk

#1347 Use monotonic timer instead of absolute timer
  Library/TeamTalkLib/bin/ttsrv/Main.cpp
  Library/TeamTalkLib/teamtalk/client/ClientNodeBase.cpp
  Library/TeamTalkLib/teamtalk/client/ClientNodeBase.h
Labels: bug, TeamTalk_DLL, TeamTalkServer

#1352 Restore media files to "Media vs. voice" when using default button in user volume dialog
  ChangeLog.txt
  Client/qtTeamTalk/uservolumedlg.cpp
Labels: qtTeamTalk
