Repository BearWare/TeamTalk5, pull requests merged in 2022-08, with the labels that each got.

#1417 Ability to start new instance in current profile
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: enhancement, qtTeamTalk

#1419 Ability to connect to latest host in new profile
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: qtTeamTalk

#1424 Return OS type in addition to client name at login
  Client/qtTeamTalk/mainwindow.cpp
Labels: qtTeamTalk

#1436 Return Qt version on about dialog
  Client/qtTeamTalk/aboutdlg.cpp
Labels: qtTeamTalk, trivial

#1444 Single column for showing checked/unchecked status bar events
  Client/qtTeamTalk/statusbareventsmodel.cpp
Labels: qtTeamTalk

#1437 Remove speak list option on Qt6
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/mytreeview.cpp
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/settings.h
Labels: qtTeamTalk, macOS, Qt accessibility

#1450 TTS message when trying to reconnect to server
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: enhancement, qtTeamTalk

#1449 Option to configure Qt TTS language
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/preferences.ui
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/preferencesdlg.h
  Client/qtTeamTalk/settings.h
Labels: enhancement, qtTeamTalk

#1453 Make lineEdit and spinBox readonly instead of disabled
  Client/qtTeamTalk/channeldlg.cpp
  Client/qtTeamTalk/serverpropertiesdlg.cpp
Labels: enhancement, qtTeamTalk, Qt accessibility

#1462 Return "You" instead of display name on classroom change for ourself
  Client/qtTeamTalk/mainwindow.cpp
Labels: qtTeamTalk

#1464 Support for Danish language in Android client
  ChangeLog.txt
  Client/TeamTalkAndroid/src/main/res/values-da-rDK/strings.xml
Labels: TeamTalkAndroid
