Repository BearWare/TeamTalk5, pull requests merged in 2022-07, with the labels that each got.

#1375 Only send full message to TTS, not origin and full message
  Client/qtTeamTalk/mainwindow.cpp
Labels: qtTeamTalk

#1378 Text message container that handles merge-messages
  Client/qtTeamTalk/CMakeLists.txt
  Client/qtTeamTalk/chattextedit.cpp
  Client/qtTeamTalk/chattextedit.h
  Client/qtTeamTalk/common.cpp
  Client/qtTeamTalk/common.h
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/mainwindow.h
  Client/qtTeamTalk/mainwindow.pri
  Client/qtTeamTalk/settings.h
  Client/qtTeamTalk/textmessagecontainer.cpp
  Client/qtTeamTalk/textmessagecontainer.h
  Client/qtTeamTalk/textmessagedlg.cpp
  Library/TeamTalk_DLL/TeamTalk.h
Labels: qtTeamTalk

#1384 Pass private text message from 'myself' into 'nToUserID' text message container
  Client/qtTeamTalk/textmessagecontainer.cpp
Labels: qtTeamTalk

#1392 Fix startup sounds
  Client/qtTeamTalk/mainwindow.cpp
Labels: qtTeamTalk

#1405 Option to configure sound events volume - Fixed #1393)
  ChangeLog.txt
  Client/qtTeamTalk/preferences.ui
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/settings.h
  Client/qtTeamTalk/utilsound.cpp
Labels: enhancement, qtTeamTalk

#1406 Remove "Expanded" or "Collapsed" from channels tree with Qt6.4 and beyond
  Client/qtTeamTalk/channelstree.cpp
Labels: qtTeamTalk, Qt accessibility

#1410 Convert overloaded nativeEvent to Qt6
  Client/qtTeamTalk/keycompdlg.cpp
  Client/qtTeamTalk/keycompdlg.h
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/mainwindow.h
Labels: qtTeamTalk
