Repository BearWare/TeamTalk5, pull requests merged in 2022-05, with the labels that each got.

#1308 Option to show server list on startup
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/preferences.ui
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/settings.h
Labels: qtTeamTalk

#1313 Choose language at first startup
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/settings.h
  Client/qtTeamTalk/utilui.cpp
  Client/qtTeamTalk/utilui.h
Labels: enhancement, qtTeamTalk

#1322 Don't display micro emoji if unable to transmit in classroom channel
  ChangeLog.txt
  Client/qtTeamTalk/channelstree.cpp
  Client/qtTeamTalk/mainwindow.cpp
Labels: enhancement, qtTeamTalk

#1325 Ability to create a tt:// link to share a channel
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/mainwindow.h
  Client/qtTeamTalk/mainwindow.ui
Labels: qtTeamTalk

#1328 Ask to create storage folder if does not exist
  ChangeLog.txt
  Client/qtTeamTalk/mediastoragedlg.cpp
Labels: enhancement, qtTeamTalk

#1329 Option to speak client statistics
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/mainwindow.h
  Client/qtTeamTalk/mainwindow.ui
Labels: qtTeamTalk

#1330 Remove OpenSSL dependency on tt5srv for Linux
  ChangeLog.txt
  Library/TeamTalkLib/build/ttsrv.cmake
  Library/TeamTalkLib/build/ttsrvlib.cmake
  Library/TeamTalkLib/teamtalk/server/ServerNode.cpp
  Library/TeamTalkLib/teamtalk/server/ServerUser.cpp
  Library/TeamTalkLib/teamtalk/server/ServerUser.h
Labels: TeamTalkServer

#1332 Only enable 'speak' menu items if TTS is enabled
  Client/qtTeamTalk/mainwindow.cpp
Labels: qtTeamTalk

#1333 Sharing TT URLs
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/mainwindow.h
  Client/qtTeamTalk/mainwindow.ui
Labels: qtTeamTalk
