Repository BearWare/TeamTalk5, pull requests merged in 2022-11, with the labels that each got.

#1545 Only set focus to text message dialog if main window has focus
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: enhancement, qtTeamTalk, Qt accessibility

#1556 Remove "Joined new channel" from event when joining a channel
  Client/qtTeamTalk/chattextedit.cpp
Labels: qtTeamTalk

#1558 Fix sound pack changes
  ChangeLog.txt
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/utilsound.cpp
Labels: qtTeamTalk

#1554 Sound event when intercepted
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/preferences.ui
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/preferencesdlg.h
  Client/qtTeamTalk/settings.h
  Client/qtTeamTalk/utilsound.cpp
  Client/qtTeamTalk/utilsound.h
  Setup/Client/Sounds/intercept.wav
Labels: qtTeamTalk

#1564 Checkable QAction on sorting context menu (Fixes #1560)
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/serverlistdlg.cpp
  Client/qtTeamTalk/settings.h
  Client/qtTeamTalk/useraccountsdlg.cpp
Labels: enhancement, qtTeamTalk

#1553 Option in "Change status" dialog to display file name as status msg when streaming
  ChangeLog.txt
  Client/qtTeamTalk/changestatus.ui
  Client/qtTeamTalk/changestatusdlg.cpp
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/settings.h
Labels: qtTeamTalk

#1555 Option to change status message when idle
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/preferences.ui
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/settings.h
Labels: qtTeamTalk

#1569 TTS events for voice transmission mode toggled
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/ttseventsmodel.cpp
  Client/qtTeamTalk/utiltts.h
Labels: enhancement, qtTeamTalk

#1570 Only play "Channel silent" sound event in channels
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: qtTeamTalk

#1576 Don't focus text message window automatically at all
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: enhancement, qtTeamTalk

#1574 Display sort order in "Sort by" menu
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/serverlistdlg.cpp
  Client/qtTeamTalk/useraccountsdlg.cpp
Labels: qtTeamTalk

#1577 Disable upload action when not connected
  Client/qtTeamTalk/mainwindow.cpp
Labels: bug, qtTeamTalk
