Repository BearWare/TeamTalk5, pull requests merged in 2023-02, with the labels that each got.

#1771 Option to enable/disable users of subchannel count in channel tree
  ChangeLog.txt
  Client/qtTeamTalk/channelstree.cpp
Labels: enhancement, qtTeamTalk

#1773 Only display number of subchannel users if there are subchannels
  Client/qtTeamTalk/channelstree.cpp
Labels: qtTeamTalk

#1772 Option to choose output mode for TTS events (with Tolk on Windows)
  ChangeLog.txt
  Client/qtTeamTalk/preferences.ui
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/settings.h
  Client/qtTeamTalk/utiltts.cpp
  Client/qtTeamTalk/utiltts.h
Labels: enhancement, qtTeamTalk, Windows, Qt accessibility
