Repository BearWare/TeamTalk5, pull requests merged in 2023-05, with the labels that each got.

#1839 Emit TTS event when using global hotkey to toggle voice activation
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: enhancement, qtTeamTalk

#1795 Update UI when enabling accessibility options at first startup
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: enhancement, qtTeamTalk, Qt accessibility

#1891 Implement inclusive writing for admin and channel op
  ChangeLog.txt
  Client/qtTeamTalk/changestatusdlg.cpp
  Client/qtTeamTalk/channelstree.cpp
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/userinfodlg.cpp
Labels: qtTeamTalk, trivial
