Repository BearWare/TeamTalk5, pull requests merged in 2024-03, with the labels that each got.

#2167 Option to announce server name for some server related TTS events
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/preferences.ui
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/settings.h
Labels: enhancement, qtTeamTalk

#2060 Format dates and times to user locale
  ChangeLog.txt
  Client/qtTeamTalk/filesmodel.cpp
  Client/qtTeamTalk/filesmodel.h
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/useraccountsdlg.cpp
  Client/qtTeamTalk/useraccountsmodel.cpp
  Client/qtTeamTalk/useraccountsmodel.h
  Client/qtTeamTalk/utilui.cpp
  Client/qtTeamTalk/utilui.h
Labels: enhancement, qtTeamTalk

#2174 Fix online users dialog compilation warnings with Qt6
  Client/qtTeamTalk/onlineusersdlg.cpp
Labels: qtTeamTalk

#2200 Ask for accessibility settings at first startup on Linux
  ChangeLog.txt
  Client/qtTeamTalk/CMakeLists.txt
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/mainwindow.h
  Client/qtTeamTalk/settings.h
Labels: enhancement, qtTeamTalk, Linux

#2230 Prevent TextMessageAdapter from modifying during list view update
  ChangeLog.txt
  Client/TeamTalkAndroid/src/main/java/dk/bearware/data/TextMessageAdapter.java
Labels: TeamTalkAndroid
