Repository BearWare/TeamTalk5, pull requests merged in 2025-06, with the labels that each got.

#2685 Fix transmission not being toggled in non-class room channels
  Client/TeamTalkAndroid/src/main/java/dk/bearware/gui/Utils.java
Labels: TeamTalkAndroid

#2692 Play sound when voice activation is toggled
  ChangeLog.txt
  Client/TeamTalkAndroid/src/main/java/dk/bearware/gui/MainActivity.java
  Client/TeamTalkAndroid/src/main/res/raw/voiceact_disable.ogg
  Client/TeamTalkAndroid/src/main/res/raw/voiceact_enable.ogg
  Client/TeamTalkAndroid/src/main/res/values/strings.xml
  Client/TeamTalkAndroid/src/main/res/xml/pref_soundevents.xml
Labels: TeamTalkAndroid

#2691 Default Qt Client: Limit OPUS bitrate range to 6-510
  Client/qtTeamTalk/channeldlg.cpp
Labels: qtTeamTalk

#2693 Add ability to copy only message content in chat list
  ChangeLog.txt
  Client/qtTeamTalk/chattextlist.cpp
  Client/qtTeamTalk/chattextlist.h
Labels: enhancement, qtTeamTalk

#2686 Fixed some TTS events not available if only push notification are enabled
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: bug, qtTeamTalk

#2690 fix: Persist idle status on reconnect
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: qtTeamTalk

#2701 Use Ctrl+Shift+R to generate tt:// URL for current channel
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.ui
Labels: qtTeamTalk

#2702 Retranslate chat history name on language change
  ChangeLog.txt
  Client/qtTeamTalk/mainwindow.cpp
Labels: bug, qtTeamTalk

#2699 Play sound event when intercept subscription is toggled
  ChangeLog.txt
  Client/TeamTalkAndroid/src/main/java/dk/bearware/gui/MainActivity.java
  Client/TeamTalkAndroid/src/main/res/raw/intercept.ogg
  Client/TeamTalkAndroid/src/main/res/raw/interceptend.ogg
  Client/TeamTalkAndroid/src/main/res/values/strings.xml
  Client/TeamTalkAndroid/src/main/res/xml/pref_soundevents.xml
Labels: TeamTalkAndroid

#2705 Android client: Added the ability to set status messages.
  ChangeLog.txt
  Client/TeamTalkAndroid/src/main/java/dk/bearware/backend/TeamTalkService.java
  Client/TeamTalkAndroid/src/main/java/dk/bearware/data/Preferences.java
  Client/TeamTalkAndroid/src/main/java/dk/bearware/data/ServerEntry.java
  Client/TeamTalkAndroid/src/main/java/dk/bearware/gui/PreferencesActivity.java
  Client/TeamTalkAndroid/src/main/java/dk/bearware/gui/ServerEntryActivity.java
  Client/TeamTalkAndroid/src/main/java/dk/bearware/gui/ServerListActivity.java
  Client/TeamTalkAndroid/src/main/java/dk/bearware/gui/Utils.java
  Client/TeamTalkAndroid/src/main/res/layout/activity_server_entry.xml
  Client/TeamTalkAndroid/src/main/res/values/strings.xml
  Client/TeamTalkAndroid/src/main/res/xml/pref_general.xml
Labels: TeamTalkAndroid

#2711 Ability to set status message for each server
  ChangeLog.txt
  Client/qtTeamTalk/changestatusdlg.cpp
  Client/qtTeamTalk/changestatusdlg.h
  Client/qtTeamTalk/common.cpp
  Client/qtTeamTalk/common.h
  Client/qtTeamTalk/generatettfile.ui
  Client/qtTeamTalk/generatettfiledlg.cpp
  Client/qtTeamTalk/mainwindow.cpp
  Client/qtTeamTalk/preferences.ui
  Client/qtTeamTalk/preferencesdlg.cpp
  Client/qtTeamTalk/serverdlg.cpp
  Client/qtTeamTalk/serverdlg.ui
  Client/qtTeamTalk/serverlistdlg.cpp
  Client/qtTeamTalk/settings.h
  Client/qtTeamTalk/utilxml.cpp
Labels: enhancement, qtTeamTalk

#2713 Fix overlapping UTF-8 string in Python TextMessage
  Library/TeamTalkPy/TeamTalk5.py
  Library/TeamTalkPy/test/teamtalk_test.py
Labels: TeamTalkPy
