Repository BearWare/TeamTalk5, pull requests merged in 2025-08, with the labels that each got.

#2785 Update OpenSSL to 3.5.1
  Library/TeamTalkLib/build/openssl/CMakeLists.txt
  Library/TeamTalkLib/teamtalk/PacketLayout.inl
Labels: TeamTalk_DLL, TeamTalkServer

#2823 Fix check state of server log events on macOS
  ChangeLog.txt
  Client/qtTeamTalk/serverlogeventsmodel.cpp
Labels: qtTeamTalk

#2828 fix time notification on linux
  Client/qtTeamTalk/utilui.cpp
Labels: bug, qtTeamTalk, Linux
